.tasks-container{
    max-width: 600px;
    margin: 40px auto;
    padding: 24px;
}

.tasks-container h1{
    text-align: center;
    margin-bottom: 24px;
}

.feedback{
    text-align: center;
    margin-top: 40px;
}

.feedback-error{
color: red;
font-weight: bold;
}